<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>NoteBoard</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Modak&family=Philosopher&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="makeNotes">

  </section>
  <section id="notes">
    
  </section>

  <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
