<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>NoteBoard</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Modak&family=Philosopher&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/db9801bf70.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav id="appNav">
    <section id="topNav">
      <div id="navTitle"><p>NoteBoard</p></div>
      <div id="userPhoto"><img src="" alt=""></div>
      <div id="pin"></div>
      <div id="userName"><p><i class="fa-solid fa-crown" style="color: #f2f2fa;"></i>Username</p></div>
    </section>
    <section id="bottomNav">
      <div id="myBoard" class="navlink"><a href="#">My Board</a></div>
      {{!-- <div id="myBoard" class="navlink"><a href="#">Finished</a></div> --}}

      <div id="premiumInfo"><p>Want to unlock more features?<br>Subscribe!</p></div>
      <div id="premiumNav" class="navlink"><a href="#">🜲 Premium</a></div>
      <div id="logoutNav" class="navlink"><a href="/logout">Log out</a></div>
    </section>
  </nav>

  <section id="makeNotes">

  </section>
  <section id="notes">
    
  </section>

  {{!-- <button class="makeNoteBtn">+</button> --}}
  <script src="/assets/appBundle.js"></script>
</body>
</html>
