<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>NoteBoard</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/navStyles.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/appFormStyles.css"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Modak&family=Philosopher&display=swap" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicon_io/site.webmanifest">
</head>
<body>
  <nav id="appNav">
    <section id="topNav">
      <div id="navTitle"><p>NoteBoard</p></div>
      {{!-- Image by <a href="https://pixabay.com/users/raphaelsilva-4702998/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3814049">Raphael Silva</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3814049">Pixabay</a> --}}
      <div id="userPhoto"><img src="/assets/img/avatar.png" alt="blank profile picture"></div>
      <div id="pin"></div>
      <div id="userName"></div>
    </section>
    <section id="bottomNav">
      <div id="myBoard" class="navlink"><a href="#">My Board</a></div>
      {{!-- <div id="myBoard" class="navlink"><a href="#">Finished</a></div> --}}

      <div id="premiumInfo"><p>Want to unlock more features?<br>Subscribe!</p></div>
      <div id="premiumNav" class="navlink" onclick="() => {alert("feature coming soon!")}"><a href="#">🜲 Premium</a></div>
      <div id="logoutNav" class="navlink"><a href="/logout">Log out</a></div>
    </section>
  </nav>
  <section id="pageTitle">My Board 
    <div id="changePassBtn"></div>
  </section>
  <section id="adSpace"></section>
  <section id="makeNotes">

  </section>
  <section id="notes">
    
  </section>

  {{!-- <button class="makeNoteBtn">+</button> --}}
  <script src="/assets/appBundle.js"></script>
</body>
</html>
