<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>NoteBoard</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Modak&family=Philosopher&display=swap" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicon_io/site.webmanifest">
</head>
<body> 
  <section id="directory">
    {{!-- <p class="welcome">Welcome</p>
    <p class="direct">Don't have an account?</p>
    <div class="navlink"><a id="loginButton" href="/login">Log In</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div> --}}
  </section>
  
  <section id="content">

  </section>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
