<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>NoteBoard</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Modak&family=Philosopher&display=swap" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicon_io/site.webmanifest">
</head>
<body>
  <nav id="appNav">
    <section id="topNav">
      <div id="navTitle"><p>NoteBoard</p></div>
      <div id="userPhoto"><img src="" alt=""></div>
      <div id="pin"></div>
      <div id="userName"><p>🜲 Username</p></div>
    </section>
    <section id="bottomNav">
      <div id="myBoard" class="navlink"><a href="#">My Board</a></div>
      {{!-- <div id="myBoard" class="navlink"><a href="#">Finished</a></div> --}}

      <div id="premiumInfo"><p>Thanks for being a premium user!<br>We'd be sad to see you go :(</p></div>
      <div id="premiumNav" class="navlink"><a href="#">Unsubscribe</a></div>
      <div id="logoutNav" class="navlink"><a href="/logout">Log out</a></div>
    </section>
  </nav>
  <section id="pageTitle">My Board</section>
  <section id="makeNotes">

  </section>
  <section id="notes">
    
  </section>

  {{!-- <button class="makeNoteBtn">+</button> --}}
  <script src="/assets/appBundle.js"></script>
</body>
</html>
